body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 2%;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
#navbutton{
    padding: 5px 7px;
    border-radius: 5px;
    border: solid rgb(59, 138, 59);
    background-color: rgb(160, 214, 160);
    color: white;
    font-size: larger;
    font-weight: bold;
}
button{
    padding: 10px 15px;
    border-radius: 8px;
    background-color: green;
}
.getStarted{
    /* background-image: url(Images/bitcoin2.jpg) ;
    background-repeat: no-repeat;
    width: 2000px;
    height: max-content;
    width: max-content; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#Explore1{
    margin-top: 3%;
    padding: 3% 5%;
    background-color: rgb(64, 224, 64);
    color:black;
    font-size: larger;
    /* border-color: greenyellow; */
}
.Cryptobar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(64, 224, 64);
    color: black;
    font-size: x-large;
    font-weight: bold;
    margin: 3% 0%;
}
.BuyCrypto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3% 0%;
    justify-content: space-between;
   font-size: x-large;
   font-weight: bold;
   gap: 30%;
}
#view{
    color: lightgreen;

}
.CryptoAssets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0%;
}
li{
    list-style: none;
    padding: 3%;
    font-size: large;
}
table, th, tr, td{
    border-style: hidden ;border-spacing: 80px; border-color:rgb(78, 76, 76);
    /* border-style: none; */
    margin: 0% 0%;
}
td{
    border-spacing: 50px;
}


.cryptoFeatures{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
    
}
#feature1{
    background-color: rgb(41, 34, 34);
    width: 200px;
    height:  150px;
    border-radius: 15px;
    font-size: larger;
    border-style: hidden;
    padding: 10px;
    border-color: blue;
}
#feature2{
    background-color: rgb(41, 34, 34);
    width: 200px;
    height:  250px;
    /* margin-right: 500%; */
    border-radius: 15px;
    font-size: larger;
    border-style: hidden;
    padding: 10px;
    border-color: blue;
}
.CryptoInvest{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    margin: 3% 0%;
}
.CryptoInvestText{
    margin: 0% 0% 0% 5%;
}
#invest{
    color: greenyellow;
    font-size: medium;
}
#invest1{
    font-size: xx-large;
}
.cryptoCharts{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    margin: 1% 0%;

}
#Explore{
    margin-top: 3%;
    padding: 4% 5%;
    background-color: black;
    color: green;
    font-size: larger;
    border-color: greenyellow;
}
#Clarity{
    display: flex;
    padding: 5%;
    margin: 0% 5%;
}
#clarity{
    padding: 3% 5%;
    font-size: xx-large;
    background-color: rgb(94, 93, 93);
    margin: 0% 3%;
    border-radius: 20px;
}
#com{
    font-size: x-large;
}
#com2{
    font-size: small;
}
.cryptomobile{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    margin: 5% 5%;
    
}
#cryptomobiletext2{
    color: greenyellow;
    margin-top: 5%;
    padding: 10% 0%;
    
}
h2{
    font-size: xx-large;
}
#contactbutton{
    border-radius: 30px;
    margin: 5px 10px;
    padding: 10px 35px;
    background-color:rgb(16, 16, 29) ;
    color: white;
}
#ICON{
    color: rgb(158, 211, 78);
    font-size: x-large;
}
.register{
    border: solid rgb(243, 238, 238);
    text-align: center;
    margin: 1% 3%;
    padding: 5% 0px;
    background-color: rgb(16, 16, 29);
    font-size: larger;
    font-weight: bolder;
    /* margin: 3% 0%; */

}
#reg{
    color: rgb(74, 167, 74);
}
.TXT{
    color:purple;
}
input{
    padding: 12px 10%;
    border-radius: 50px;
    background-color: rgb(16, 16, 29);
    /* margin: 3% 0%; */

}
footer{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    margin: 3% 0%;
}

/* Media Queries */
@media screen  and (max-width:800px){
    .navbar{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .getStarted{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .getStartedimage{
        margin-top: 2%;
    }
    .Cryptobar{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
    .BuyCrypto{
        display: grid;
        gap: 30%;
        font-size: medium;
    }
    table, th, tr, td{
        border-style: hidden ;border-spacing: 30px; border-color:rgb(78, 76, 76);
        /* border-style: none; */
        margin: 0% 0%;
    }
    .cryptoFeatures{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10%;
    }
  .ftrs{
    margin-left: 30%;
    font-size: small;
    margin-bottom: 25%;
   
  }
  .CryptoInvest{
        display: grid;
        grid-template-columns: repeat(1,1fr);
  }
  .cryptoCharts{
        display: grid;
        grid-template-columns: repeat(1,1fr);
  }
  #Clarity{
    margin: 0% 0%;
  }
  .cryptomobile{
        display: grid;
        grid-template-columns: repeat(1,1fr);
  }
  body{
    font-size: small;
  }
  img{
    width: 400px;
    height: 400px;
  }
}

@media screen  and(max-width: 1200px){

}